/*Register styles */
#goHome {
   color: rgb(144, 170, 144);
   background-color: rgb(245,245,165);
   border-radius: 20px;
   padding:10px;
   text-decoration:none;
   margin-left:150px;
}

dl {
	margin: 20px 10px;
}
dt {
	font-weight: bold;
	width:150px;
	float:left;
	clear:left;
	border:none;
}
dt::after {
	content: ":";
}
dd {margin-bottom:5px;
	text-indent: 10px;
}
.headingsFormat{
	text-decoration:underline;
	font-weight:bold;
	font-variant:small-caps;
}
#content {
	padding: 20px;
}
